// <!-- TODO: refactor `container` classes -->
.section-container {
    width: 100%;
    max-width: 77.5em;
    margin: 0 auto;
    padding: 0 1.5625em;
}

.block-section {
    padding: 115px 0;
}

.section-header {
    padding-left: 90px;
    padding-right: 75px;
}