.u-center-text {
    text-align: center;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}
.u-margin-bottom-big {
    margin-bottom: 4rem;
}
.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}

.center-div {
    // width: 300px;
    // height: 200px;
    // padding: 20px;
    position: absolute;
    top: 37%; 
    // left: 50%;
    // margin-left: -170px; /* (width + padding)/2 */
    // margin-top: -120px; /* (height + padding)/2 */
}

.center {
    margin: 0 auto;
    text-align: center;
}

.no-height {
    height: 0;
}


.add-padding-vertical {
    padding: 115px 0 115px 0;
}